.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.recommenders/
.project
.classpath
*.iml
.idea/
*.launch
.factorypath
.target
.recommenders/
.apt_generated/
.cache-main
.scala_dependencies
.worksheet
